.widget.widget_analytic-bridge-popular-posts img.right-align,
.widget.widget_analytic-bridge-popular-posts img.center-align,
.widget.widget_analytic-bridge-popular-posts img.left-align {
  float: none;
  padding: inherit;
}
.widget_analytic-bridge-popular-posts img.attachment-thumbnail {
  float: right;
}
