/* logo blue */
/* this is the grey of the background */
/* grey for text */
/* hover color for hrld-dark-grey */
/* this is dark grey on a black background */
/**
 * Styling for inline media.
 * Edit css.scss file, and compile using sass.
 * @see http://sass-lang.com
 */
.hrld-inline-link {
  display: block;
  color: #7e8c93;
  padding: 0 0 0 20px;
  max-width: 600px;
  font-size: 16px;
  line-height: 24px;
  clear: both;
  margin: 30px 0;
  font-family: "PT Sans Narrow", Helvetica, Arial, Sans-Serif;
  clear: both; }
  .hrld-inline-link .hrld-inline-link-title {
    font-family: "PT Sans Narrow", Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    color: #191919;
    display: block;
    position: relative;
    top: -3px; }
  .hrld-inline-link .hrld-inline-link-excerpt {
    display: none;
    font-size: 14px;
    line-height: 21px; }
    .hrld-inline-link .hrld-inline-link-excerpt.hrld-inline-link-excerpt-small {
      display: inline;
      word-wrap: break-word; }
  .hrld-inline-link .hrld-inline-click-count {
    color: #3c74b9; }
  .hrld-inline-link img.hrld-inline-thumbnail {
    float: left;
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    padding: 0 20px 0 0px; }
  .hrld-inline-link:hover {
    color: #7e8c93; }
    .hrld-inline-link:hover .hrld-inline-link-title {
      color: #3c74b9; }

.clearfix {
  clear: both;
  display: block; }

@media (min-width: 760px) {
  .hrld-inline-link .hrld-inline-link-excerpt {
    display: block; }
    .hrld-inline-link .hrld-inline-link-excerpt.hrld-inline-link-excerpt-small {
      display: none; } }
